<div class="form-container">
        <div class="input-admin">
            <form class="blog-form" method="post">
                <div class="title">
                    <label for="title">Title: </label>
                    <input id="Title" type="text" name="title" placeholder=""> <br>
                </div>
                <div class="text">
                    <label for="blog-post">Blog: </label> <br>
                    <textarea class="postArea" name="blog-post" rows="25" cols="150"></textarea> <br>
                </div>
                <button class="postButton" type="button" name="button">post</button>
            </form>
        </div>
</div>

<script src="/adminscript.js"></script>
