<h1>home</h1>
<!-- <div class="splash-container">
    <img src="https://www.planwallpaper.com/static/images/abstract-colourful-cool-wallpapers-55ec7905a6a4f.jpg" alt="splash-image" />
</div> -->
<div class="blog-container">
    <!-- <article>

        <div class="post-title-container">

           <div class="title">
              <h2>This is the title</h2>
              <p class="post-date">20/01/2016</p>
              <p class="author">This is the author</p>
           </div>
        </div>

        <div class="post-body-container">
            <p>
                This is the blog
            </p>
            <div class="comment-container">
                <p>These are the comments</p>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="btn">
            <p>See More ...</p>
        </div>
    </article> -->
    <script src="/homescript.js"></script>
</div>
