<h1>Kasaromi</h1>
<div id="petal-stage-wrap" class="petal-stage-wrap">
    <div id="petal-stage" class="petal-stage"></div>
</div>

<div class="blog-container">
    <article>
        <div class="post-title-container">

            <div class="content">
                <h1 class="blog-post">Blog posts</h1>
                    {{#each blah}}
                        <h2>{{this.title}}</h2>
                        <p>{{this.post}}</p>
                        <p>{{this.author}}</p>
                    {{/each}}
                  <p class="post-date">20/01/2016</p>
                  <p class="author">This is the author</p>
           </div>
        </div>
    </article>
    <script src="/homescript.js"></script>
</div>
