<div class="profile-container">
    <div class="flipper">
        <div class="front">
            <img src="https://avatars1.githubusercontent.com/u/1287388?v=3&s=400" alt="katherine-image" />
        </div>
        <div class="back">
            <p>Katherine Bowler</p>
            <p>Katherine blah blah blah</p>
        </div>
    </div>

    <div class="flipper">
        <div class="front">
            <img src="https://avatars0.githubusercontent.com/u/15983736?v=3&s=400" alt="sam-image" />
        </div>
        <div class="back">
            <p>Sam Houston</p>
            <p>Sam blah blah blah</p>
        </div>
    </div>

    <div class="flipper">
        <div class="front">
            <img src="https://avatars3.githubusercontent.com/u/15571853?v=3&s=400" alt="rob-image" />
        </div>
        <div class="back">
            <p>Rob Francis</p>
            <p>Rob blah blah blah</p>
        </div>
    </div>

    <div class="flipper">
        <div class="front">
            <img src="https://avatars3.githubusercontent.com/u/2573931?v=3&s=400" alt="mireia-image" />
        </div>
        <div class="back">
            <p>Mireia Sangalo</p>
            <p>Mireia blah blah blah</p>
        </div>
    </div>
</div>
