<div class="grid">
    <div class="column-6">
        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <img src="https://avatars1.githubusercontent.com/u/1287388?v=3&s=400" alt="katherine-image" />
                </div>
                <div class="back">
                    <h2>Katherine Bowler</h2>
                    <p>Katherine grew up in Canada where she became a
                    qualified teacher. She moved to London in summer 2014
                    and never wants to leave!</p>
                </div>
            </div>
        </div>
        <div class="social-icons">
            <a href="https://github.com/katbow"><img src="/img/github.svg" alt="github-logo" /></a>
            <a href="https://uk.linkedin.com/in/katbow"><img src="/img/linkedin.svg" alt="linkedin-logo" /></a>
            <a href="https://twitter.com/MsKatbow"><img src="/img/twitter.svg" alt="twitter-logo" /></a>
        </div>
    </div>

    <div class="column-6">
        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <img src="https://avatars0.githubusercontent.com/u/15983736?v=3&s=400" alt="sam-image" />
                </div>
                <div class="back">
                    <h2>Sam Houston</h2>
                    <p>Sam really likes packages.</p>
                </div>
            </div>
        </div>
        <div class="social-icons">
            <a href="https://github.com/shouston3"><img src="/img/github.svg" alt="github-logo" /></a>
            <a href="https://uk.linkedin.com/in/sam-houston-b8282b109"><img src="/img/linkedin.svg" alt="linkedin-logo" /></a>
            <a href="https://twitter.com/MsKatbow"><img src="/img/twitter.svg" alt="twitter-logo" /></a>
        </div>
    </div>
</div>

<div class="grid">
    <div class="column-6">
        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <img src="https://avatars3.githubusercontent.com/u/15571853?v=3&s=400" alt="rob-image" />
                </div>
                <div class="back">
                    <h2>Rob Francis</h2>
                    <p>Rob loves Sam's deep voice and dashing looks.</p>
                </div>
            </div>
        </div>
        <div class="social-icons">
            <a href="https://github.com/RobStallion"><img src="/img/github.svg" alt="github-logo" /></a>
            <a href="https://uk.linkedin.com/in/robert-francis-360561110"><img src="/img/linkedin.svg" alt="linkedin-logo" /></a>
            <a href="https://twitter.com/robstaiiion"><img src="/img/twitter.svg" alt="twitter-logo" /></a>
        </div>
    </div>

    <div class="column-6">
        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <img src="https://avatars3.githubusercontent.com/u/2573931?v=3&s=400" alt="mireia-image" />
                </div>
                <div class="back">
                    <h2>Mireia Sangalo</h2>
                    <p>Mireia, an IT engineer, from Barcelona. I grew up in the
                        heart of Barcelona city. My mum and dad showed me how
                        important it is to have good nutrition and a healthy
                        lifestyle. They always take me to the sea and the
                        mountains where I learnt to listen to nature and feel
                        very passionate about it.</p>
                </div>
            </div>
        </div>
        <div class="social-icons">
            <a href="https://github.com/MyPitit"><img src="/img/github.svg" alt="github-logo" /></a>
            <a href="https://uk.linkedin.com/in/mireia-sangalo-b7299952"><img src="/img/linkedin.svg" alt="linkedin-logo" /></a>
            <a href="https://twitter.com/MyPitit"><img src="/img/twitter.svg" alt="twitter-logo" /></a>
        </div>
    </div>
</div>
