<h1>Team page</h1>
<div class="profile-container">
    <div class="flipper">
        <div class="front">
            <img src="" alt="katherine-image" />
        </div>
        <div class="back">
            <p>Katherine Bowler</p>
            <p>Katherine blah blah blah</p>
        </div>
    </div>

    <div class="flipper">
        <div class="front">
            <img src="" alt="sam-image" />
        </div>
        <div class="back">
            <p>Sam Houston</p>
            <p>Sam blah blah blah</p>
        </div>
    </div>

    <div class="flipper">
        <div class="front">
            <img src="" alt="rob-image" />
        </div>
        <div class="back">
            <p>Rob Francis</p>
            <p>Rob blah blah blah</p>
        </div>
    </div>

    <div class="flipper">
        <div class="front">
            <img src="" alt="mireia-image" />
        </div>
        <div class="back">
            <p>Mireia Sangalo</p>
            <p>Mireia blah blah blah</p>
        </div>
    </div>
</div>
